
<footer>
  <div class="ui grid height">
    <div class="four wide column"></div>
    <div class="eight wide column brand">
      <a class="brand" href="/posts">
        <h1>Big</h1>
      </a>
      <h3>By Benny | <i class="mail outline icon"></i><a href="mailto:zwu58@ucsc.edu">zwu58@ucsc.edu</a> | <i class="github icon"></i><a href="https://github.com/benny201">Github</a></h3>
    </div>
    <div class="four wide column"></div>
  </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
<script type="text/javascript">
    // 点击按钮弹出下拉框
    $('.ui.dropdown').dropdown();
    // 鼠标悬浮在头像上，弹出气泡提示框
    $('.post-content .avatar').popup({
      inline: true,
      position: 'bottom right',
      lastResort: 'bottom right',
    });
  </script>
  </body>
</html>
