<%- include('header') %>
<div class="recommend">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="title-cut"><i class="square icon"></i>每日 | 推荐</div>
    </div>
    <div class="four wide column"></div>
  </div>
</div>


<div class="ui grid ">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="title-cut"><i class="square icon"></i>博文 | Read</div>
  </div>
  <div class="four wide column"></div>
</div>


<% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>

<%- include('footer') %>
